body {
	font-family: Nunito, sans-serif;
	background-color: #cccccc;
	text-align: center;
	font-size: 16px;
  width: 100vw;
  max-width: 100%;
}

.page-title {
	font-size: 3rem;
	padding: 2rem;
	background-color: #333333;
	color: white;
}

.form {
	padding: 1rem;
	background-color: #eeeeee;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin: 2rem auto;
  width: 55vw;
}

.button {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  padding: .75rem 0;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
}

.button-green {
  background-color: #1ba148;
}

.button-green:hover {
  background-color: #0a9037;
}

.button-red {
  background-color: #b3211e;
}

.button-red:hover {
  background-color: #a2100d;
}
